
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Trade+Winds&display=swap');


body{
    background-color: rgb(20, 20, 20);
}

.container{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
    
}

.posicao{
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 50% 50%;
}

.trade-winds-regular {
    color: green;
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
h5{
    color: white;
}

.botoes{
   display: grid;
   justify-content: center;
   grid-template-columns: 10% 20%;
   grid-template-rows: 10%;
   align-items: center;

}

.nao-aceita{
    padding: 10px 10px;
    background-color: red;
    color: white;
    margin: 5px 0;
    
}

.aceita{
    padding: 10px 65px;
    background-color: green;
    color: white;
    margin: 5px 0;
    
}